.icon {
	display: inline-block;
	background: #ccc;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}


.icon128 { background: url('../../assets/sprites/base_icons_128.png') no-repeat top left; width: 128px; height: 128px; } 
.icon128.icon-02-01-30 { background-position: 0 0; } 
.icon128.icon-02-01-29 { background-position: -130px 0; } 
.icon128.icon-02-01-28 { background-position: -260px 0; } 
.icon128.icon-02-01-27 { background-position: -390px 0; } 
.icon128.icon-02-01-26 { background-position: -520px 0; } 
.icon128.icon-02-01-25 { background-position: -650px 0; } 
.icon128.icon-02-01-24 { background-position: -780px 0; } 
.icon128.icon-02-01-23 { background-position: -910px 0; } 
.icon128.icon-02-01-22 { background-position: -1040px 0; } 
.icon128.icon-02-01-21 { background-position: -1170px 0; } 
.icon128.icon-02-01-20 { background-position: -1300px 0; } 
.icon128.icon-02-01-19 { background-position: -1430px 0; } 
.icon128.icon-02-01-18 { background-position: -1560px 0; } 
.icon128.icon-02-01-17 { background-position: -1690px 0; } 
.icon128.icon-02-01-16 { background-position: -1820px 0; } 
.icon128.icon-02-01-15 { background-position: -1950px 0; } 
.icon128.icon-02-01-14 { background-position: -2080px 0; } 
.icon128.icon-02-01-13 { background-position: -2210px 0; } 
.icon128.icon-02-01-12 { background-position: -2340px 0; } 
.icon128.icon-02-01-11 { background-position: -2470px 0; } 
.icon128.icon-02-01-10 { background-position: -2600px 0; } 
.icon128.icon-02-01-09 { background-position: -2730px 0; } 
.icon128.icon-02-01-08 { background-position: -2860px 0; } 
.icon128.icon-02-01-07 { background-position: -2990px 0; } 
.icon128.icon-02-01-06 { background-position: -3120px 0; } 
.icon128.icon-02-01-05 { background-position: -3250px 0; } 
.icon128.icon-02-01-04 { background-position: -3380px 0; } 
.icon128.icon-02-01-03 { background-position: -3510px 0; } 
.icon128.icon-02-01-02 { background-position: -3640px 0; } 
.icon128.icon-02-01-01 { background-position: -3770px 0; } 
.icon128.icon-00-99 { background-position: -3900px 0; } 
.icon128.icon-00-98 { background-position: -4030px 0; } 
.icon128.icon-00-97 { background-position: -4160px 0; } 
.icon128.icon-00-100 { background-position: -4290px 0; } 
.icon128.icon-00-96 { background-position: -4420px 0; } 
.icon128.icon-00-95 { background-position: -4550px 0; } 
.icon128.icon-00-94 { background-position: -4680px 0; } 
.icon128.icon-00-93 { background-position: -4810px 0; } 
.icon128.icon-00-92 { background-position: -4940px 0; } 
.icon128.icon-00-91 { background-position: -5070px 0; } 
.icon128.icon-00-90 { background-position: -5200px 0; } 
.icon128.icon-00-89 { background-position: -5330px 0; } 
.icon128.icon-00-88 { background-position: -5460px 0; } 
.icon128.icon-00-87 { background-position: -5590px 0; } 
.icon128.icon-00-86 { background-position: -5720px 0; } 
.icon128.icon-00-85 { background-position: -5850px 0; } 
.icon128.icon-00-84 { background-position: -5980px 0; } 
.icon128.icon-00-83 { background-position: -6110px 0; } 
.icon128.icon-00-82 { background-position: -6240px 0; } 
.icon128.icon-00-81 { background-position: -6370px 0; } 
.icon128.icon-00-80 { background-position: -6500px 0; } 
.icon128.icon-00-79 { background-position: -6630px 0; } 
.icon128.icon-00-78 { background-position: -6760px 0; } 
.icon128.icon-00-77 { background-position: -6890px 0; } 
.icon128.icon-00-76 { background-position: -7020px 0; } 
.icon128.icon-00-75 { background-position: -7150px 0; } 
.icon128.icon-00-74 { background-position: -7280px 0; } 
.icon128.icon-00-73 { background-position: -7410px 0; } 
.icon128.icon-00-72 { background-position: -7540px 0; } 
.icon128.icon-00-71 { background-position: -7670px 0; } 
.icon128.icon-00-70 { background-position: -7800px 0; } 
.icon128.icon-00-69 { background-position: -7930px 0; } 
.icon128.icon-00-68 { background-position: -8060px 0; } 
.icon128.icon-00-67 { background-position: -8190px 0; } 
.icon128.icon-00-66 { background-position: -8320px 0; } 
.icon128.icon-00-65 { background-position: -8450px 0; } 
.icon128.icon-00-64 { background-position: -8580px 0; } 
.icon128.icon-00-63 { background-position: -8710px 0; } 
.icon128.icon-00-62 { background-position: -8840px 0; } 
.icon128.icon-00-61 { background-position: -8970px 0; } 
.icon128.icon-00-60 { background-position: -9100px 0; } 
.icon128.icon-00-59 { background-position: -9230px 0; } 
.icon128.icon-00-58 { background-position: -9360px 0; } 
.icon128.icon-00-57 { background-position: -9490px 0; } 
.icon128.icon-00-56 { background-position: -9620px 0; } 
.icon128.icon-00-55 { background-position: -9750px 0; } 
.icon128.icon-00-54 { background-position: -9880px 0; } 
.icon128.icon-00-53 { background-position: -10010px 0; } 
.icon128.icon-00-52 { background-position: -10140px 0; } 
.icon128.icon-00-51 { background-position: -10270px 0; } 
.icon128.icon-00-50 { background-position: -10400px 0; } 
.icon128.icon-00-49 { background-position: -10530px 0; } 
.icon128.icon-00-48 { background-position: -10660px 0; } 
.icon128.icon-00-47 { background-position: -10790px 0; } 
.icon128.icon-00-46 { background-position: -10920px 0; } 
.icon128.icon-00-45 { background-position: -11050px 0; } 
.icon128.icon-00-44 { background-position: -11180px 0; } 
.icon128.icon-00-43 { background-position: -11310px 0; } 
.icon128.icon-00-42 { background-position: -11440px 0; } 
.icon128.icon-00-41 { background-position: -11570px 0; } 
.icon128.icon-00-40 { background-position: -11700px 0; } 
.icon128.icon-00-39 { background-position: -11830px 0; } 
.icon128.icon-00-38 { background-position: -11960px 0; } 
.icon128.icon-00-37 { background-position: -12090px 0; } 
.icon128.icon-00-36 { background-position: -12220px 0; } 
.icon128.icon-00-35 { background-position: -12350px 0; } 
.icon128.icon-00-34 { background-position: -12480px 0; } 
.icon128.icon-00-33 { background-position: -12610px 0; } 
.icon128.icon-00-32 { background-position: -12740px 0; } 
.icon128.icon-00-31 { background-position: 70px 0; } 
.icon128.icon-00-30 { background-position: -13000px 0; } 
.icon128.icon-00-29 { background-position: -13130px 0; } 
.icon128.icon-00-28 { background-position: -13260px 0; } 
.icon128.icon-00-27 { background-position: -13390px 0; } 
.icon128.icon-00-26 { background-position: -13520px 0; } 
.icon128.icon-00-25 { background-position: -13650px 0; } 
.icon128.icon-00-24 { background-position: -13780px 0; } 
.icon128.icon-00-23 { background-position: -13910px 0; } 
.icon128.icon-00-22 { background-position: -14040px 0; } 
.icon128.icon-00-21 { background-position: -14170px 0; } 
.icon128.icon-00-20 { background-position: -14300px 0; } 
.icon128.icon-00-19 { background-position: -14430px 0; } 
.icon128.icon-00-18 { background-position: -14560px 0; } 
.icon128.icon-00-17 { background-position: -14690px 0; } 
.icon128.icon-00-16 { background-position: -14820px 0; } 
.icon128.icon-00-15 { background-position: -14950px 0; } 
.icon128.icon-00-14 { background-position: -15080px 0; } 
.icon128.icon-00-13 { background-position: -15210px 0; } 
.icon128.icon-00-12 { background-position: -15340px 0; } 
.icon128.icon-00-11 { background-position: -15470px 0; } 
.icon128.icon-00-10 { background-position: -15600px 0; } 
.icon128.icon-00-09 { background-position: -15730px 0; } 
.icon128.icon-00-08 { background-position: -15860px 0; } 
.icon128.icon-00-07 { background-position: -15990px 0; } 
.icon128.icon-00-06 { background-position: -16120px 0; } 
.icon128.icon-00-05 { background-position: -16250px 0; } 
.icon128.icon-00-04 { background-position: -16380px 0; } 
.icon128.icon-00-03 { background-position: -16510px 0; } 
.icon128.icon-00-02 { background-position: -16640px 0; } 
.icon128.icon-00-01 { background-position: -16770px 0; } 

.icon64 { background: url('../../assets/sprites/base_icons_64.png') no-repeat top left; width: 64px; height: 64px;  } 
.icon64.icon-00-58 { background-position: 0 0; } 
.icon64.icon-00-57 { background-position: -66px 0; } 
.icon64.icon-00-56 { background-position: -132px 0; } 
.icon64.icon-00-55 { background-position: -198px 0; } 
.icon64.icon-00-54 { background-position: -264px 0; } 
.icon64.icon-00-53 { background-position: -330px 0; } 
.icon64.icon-00-52 { background-position: -396px 0; } 
.icon64.icon-00-51 { background-position: -462px 0; } 
.icon64.icon-00-50 { background-position: -528px 0; } 
.icon64.icon-00-49 { background-position: -594px 0; } 
.icon64.icon-00-48 { background-position: -660px 0; } 
.icon64.icon-00-47 { background-position: -726px 0; } 
.icon64.icon-00-46 { background-position: -792px 0; } 
.icon64.icon-00-45 { background-position: -858px 0; } 
.icon64.icon-00-44 { background-position: -924px 0; } 
.icon64.icon-00-43 { background-position: -990px 0; } 
.icon64.icon-00-42 { background-position: -1056px 0; } 
.icon64.icon-00-41 { background-position: -1122px 0; } 
.icon64.icon-00-40 { background-position: -1188px 0; } 
.icon64.icon-00-39 { background-position: -1254px 0; } 
.icon64.icon-00-38 { background-position: -1320px 0; } 
.icon64.icon-00-37 { background-position: -1386px 0; } 
.icon64.icon-00-36 { background-position: -1452px 0; } 
.icon64.icon-00-35 { background-position: -1518px 0; } 
.icon64.icon-00-34 { background-position: -1584px 0; } 
.icon64.icon-00-33 { background-position: -1650px 0; } 
.icon64.icon-00-32 { background-position: -1716px 0; } 
.icon64.icon-00-31 { background-position: -1782px 0; } 
.icon64.icon-00-30 { background-position: -1848px 0; } 
.icon64.icon-00-29 { background-position: -1914px 0; } 
.icon64.icon-00-28 { background-position: -1980px 0; } 
.icon64.icon-00-27 { background-position: -2046px 0; } 
.icon64.icon-00-26 { background-position: -2112px 0; } 
.icon64.icon-00-25 { background-position: -2178px 0; } 
.icon64.icon-00-24 { background-position: -2244px 0; } 
.icon64.icon-00-23 { background-position: -2310px 0; } 
.icon64.icon-00-22 { background-position: -2376px 0; } 
.icon64.icon-00-21 { background-position: -2442px 0; } 
.icon64.icon-00-20 { background-position: -2508px 0; } 
.icon64.icon-00-19 { background-position: -2574px 0; } 
.icon64.icon-00-18 { background-position: -2640px 0; } 
.icon64.icon-00-17 { background-position: -2706px 0; } 
.icon64.icon-00-16 { background-position: -2772px 0; } 
.icon64.icon-00-15 { background-position: -2838px 0; } 
.icon64.icon-00-14 { background-position: -2904px 0; } 
.icon64.icon-00-13 { background-position: -2970px 0; } 
.icon64.icon-00-12 { background-position: -3036px 0; } 
.icon64.icon-00-11 { background-position: -3102px 0; } 
.icon64.icon-00-10 { background-position: -3168px 0; } 
.icon64.icon-00-09 { background-position: -3234px 0; } 
.icon64.icon-00-08 { background-position: -3300px 0; } 
.icon64.icon-00-07 { background-position: -3366px 0; } 
.icon64.icon-00-06 { background-position: -3432px 0; } 
.icon64.icon-00-05 { background-position: -3498px 0; } 
.icon64.icon-00-04 { background-position: -3564px 0; } 
.icon64.icon-00-03 { background-position: -3630px 0; } 
.icon64.icon-00-02 { background-position: -3696px 0; } 
.icon64.icon-00-01 { background-position: -3762px 0; } 
.icon64.icon-02-01-30 { background-position: -3828px 0; } 
.icon64.icon-02-01-29 { background-position: -3894px 0; } 
.icon64.icon-02-01-28 { background-position: -3960px 0; } 
.icon64.icon-02-01-27 { background-position: -4026px 0; } 
.icon64.icon-02-01-26 { background-position: -4092px 0; } 
.icon64.icon-02-01-25 { background-position: -4158px 0; } 
.icon64.icon-02-01-24 { background-position: -4224px 0; } 
.icon64.icon-02-01-23 { background-position: -4290px 0; } 
.icon64.icon-02-01-22 { background-position: -4356px 0; } 
.icon64.icon-02-01-21 { background-position: -4422px 0; } 
.icon64.icon-02-01-20 { background-position: -4488px 0; } 
.icon64.icon-02-01-19 { background-position: -4554px 0; } 
.icon64.icon-02-01-18 { background-position: -4620px 0; } 
.icon64.icon-02-01-17 { background-position: -4686px 0; } 
.icon64.icon-02-01-16 { background-position: -4752px 0; } 
.icon64.icon-02-01-15 { background-position: -4818px 0; } 
.icon64.icon-02-01-14 { background-position: -4884px 0; } 
.icon64.icon-02-01-13 { background-position: -4950px 0; } 
.icon64.icon-02-01-12 { background-position: -5016px 0; } 
.icon64.icon-02-01-11 { background-position: -5082px 0; } 
.icon64.icon-02-01-10 { background-position: -5148px 0; } 
.icon64.icon-02-01-09 { background-position: -5214px 0; } 
.icon64.icon-02-01-08 { background-position: -5280px 0; } 
.icon64.icon-02-01-07 { background-position: -5346px 0; } 
.icon64.icon-02-01-06 { background-position: -5412px 0; } 
.icon64.icon-02-01-05 { background-position: -5478px 0; } 
.icon64.icon-02-01-04 { background-position: -5544px 0; } 
.icon64.icon-02-01-03 { background-position: -5610px 0; } 
.icon64.icon-02-01-02 { background-position: -5676px 0; } 
.icon64.icon-02-01-01 { background-position: -5742px 0; } 
.icon64.icon-00-100 { background-position: -5808px 0; } 
.icon64.icon-00-98 { background-position: -5874px 0; } 
.icon64.icon-00-97 { background-position: -5940px 0; } 
.icon64.icon-00-96 { background-position: -6006px 0; } 
.icon64.icon-00-95 { background-position: -6072px 0; } 
.icon64.icon-00-94 { background-position: -6138px 0; } 
.icon64.icon-00-93 { background-position: -6204px 0; } 
.icon64.icon-00-92 { background-position: -6270px 0; } 
.icon64.icon-00-91 { background-position: -6336px 0; } 
.icon64.icon-00-90 { background-position: -6402px 0; } 
.icon64.icon-00-89 { background-position: -6468px 0; } 
.icon64.icon-00-88 { background-position: -6534px 0; } 
.icon64.icon-00-87 { background-position: -6600px 0; } 
.icon64.icon-00-86 { background-position: -6666px 0; } 
.icon64.icon-00-85 { background-position: -6732px 0; } 
.icon64.icon-00-84 { background-position: -6798px 0; } 
.icon64.icon-00-83 { background-position: -6864px 0; } 
.icon64.icon-00-82 { background-position: -6930px 0; } 
.icon64.icon-00-81 { background-position: -6996px 0; } 
.icon64.icon-00-80 { background-position: -7062px 0; } 
.icon64.icon-00-79 { background-position: -7128px 0; } 
.icon64.icon-00-78 { background-position: -7194px 0; } 
.icon64.icon-00-77 { background-position: -7260px 0; } 
.icon64.icon-00-76 { background-position: -7326px 0; } 
.icon64.icon-00-75 { background-position: -7392px 0; } 
.icon64.icon-00-74 { background-position: -7458px 0; } 
.icon64.icon-00-73 { background-position: -7524px 0; } 
.icon64.icon-00-72 { background-position: -7590px 0; } 
.icon64.icon-00-71 { background-position: -7656px 0; } 
.icon64.icon-00-70 { background-position: -7722px 0; } 
.icon64.icon-00-69 { background-position: -7788px 0; } 
.icon64.icon-00-68 { background-position: -7854px 0; } 
.icon64.icon-00-67 { background-position: -7920px 0; } 
.icon64.icon-00-66 { background-position: -7986px 0; } 
.icon64.icon-00-65 { background-position: -8052px 0; } 
.icon64.icon-00-64 { background-position: -8118px 0; } 
.icon64.icon-00-63 { background-position: -8184px 0; } 
.icon64.icon-00-62 { background-position: -8250px 0; } 
.icon64.icon-00-61 { background-position: -8316px 0; } 
.icon64.icon-00-60 { background-position: -8382px 0; } 
.icon64.icon-00-59 { background-position: -8448px 0; } 
.icon64.icon-00-99 { background-position: -8514px 0; } 

.icon32 { background: url('../../assets/sprites/base_icons_32.png') no-repeat top left; width: 32px; height: 32px;  } 
.icon32.icon-02-01-09 { background-position: 0 0; } 
.icon32.icon-02-01-08 { background-position: -34px 0; } 
.icon32.icon-02-01-07 { background-position: -68px 0; } 
.icon32.icon-02-01-06 { background-position: -102px 0; } 
.icon32.icon-02-01-05 { background-position: -136px 0; } 
.icon32.icon-02-01-04 { background-position: -170px 0; } 
.icon32.icon-02-01-03 { background-position: -204px 0; } 
.icon32.icon-02-01-02 { background-position: -238px 0; } 
.icon32.icon-02-01-01 { background-position: -272px 0; } 
.icon32.icon-00-100 { background-position: -306px 0; } 
.icon32.icon-00-99 { background-position: -340px 0; } 
.icon32.icon-00-97 { background-position: -374px 0; } 
.icon32.icon-00-96 { background-position: -408px 0; } 
.icon32.icon-00-95 { background-position: -442px 0; } 
.icon32.icon-00-94 { background-position: -476px 0; } 
.icon32.icon-00-93 { background-position: -510px 0; } 
.icon32.icon-00-92 { background-position: -544px 0; } 
.icon32.icon-00-91 { background-position: -578px 0; } 
.icon32.icon-00-90 { background-position: -612px 0; } 
.icon32.icon-00-89 { background-position: -646px 0; } 
.icon32.icon-00-88 { background-position: -680px 0; } 
.icon32.icon-00-87 { background-position: -714px 0; } 
.icon32.icon-00-86 { background-position: -748px 0; } 
.icon32.icon-00-85 { background-position: -782px 0; } 
.icon32.icon-00-84 { background-position: -816px 0; } 
.icon32.icon-00-83 { background-position: -850px 0; } 
.icon32.icon-00-82 { background-position: -884px 0; } 
.icon32.icon-00-81 { background-position: -918px 0; } 
.icon32.icon-00-80 { background-position: -952px 0; } 
.icon32.icon-00-79 { background-position: -986px 0; } 
.icon32.icon-00-78 { background-position: -1020px 0; } 
.icon32.icon-00-77 { background-position: -1054px 0; } 
.icon32.icon-00-76 { background-position: -1088px 0; } 
.icon32.icon-00-75 { background-position: -1122px 0; } 
.icon32.icon-00-74 { background-position: -1156px 0; } 
.icon32.icon-00-73 { background-position: -1190px 0; } 
.icon32.icon-00-72 { background-position: -1224px 0; } 
.icon32.icon-00-71 { background-position: -1258px 0; } 
.icon32.icon-00-70 { background-position: -1292px 0; } 
.icon32.icon-00-69 { background-position: -1326px 0; } 
.icon32.icon-00-68 { background-position: -1360px 0; } 
.icon32.icon-00-67 { background-position: -1394px 0; } 
.icon32.icon-00-66 { background-position: -1428px 0; } 
.icon32.icon-00-65 { background-position: -1462px 0; } 
.icon32.icon-00-64 { background-position: -1496px 0; } 
.icon32.icon-00-63 { background-position: -1530px 0; } 
.icon32.icon-00-62 { background-position: -1564px 0; } 
.icon32.icon-00-61 { background-position: -1598px 0; } 
.icon32.icon-00-60 { background-position: -1632px 0; } 
.icon32.icon-00-59 { background-position: -1666px 0; } 
.icon32.icon-00-58 { background-position: -1700px 0; } 
.icon32.icon-00-57 { background-position: -1734px 0; } 
.icon32.icon-00-56 { background-position: -1768px 0; } 
.icon32.icon-00-55 { background-position: -1802px 0; } 
.icon32.icon-00-54 { background-position: -1836px 0; } 
.icon32.icon-00-53 { background-position: -1870px 0; } 
.icon32.icon-00-52 { background-position: -1904px 0; } 
.icon32.icon-00-51 { background-position: -1938px 0; } 
.icon32.icon-00-50 { background-position: -1972px 0; } 
.icon32.icon-00-49 { background-position: -2006px 0; } 
.icon32.icon-00-48 { background-position: -2040px 0; } 
.icon32.icon-00-47 { background-position: -2074px 0; } 
.icon32.icon-00-46 { background-position: -2108px 0; } 
.icon32.icon-00-45 { background-position: -2142px 0; } 
.icon32.icon-00-44 { background-position: -2176px 0; } 
.icon32.icon-00-43 { background-position: -2210px 0; } 
.icon32.icon-00-42 { background-position: -2244px 0; } 
.icon32.icon-00-41 { background-position: -2278px 0; } 
.icon32.icon-00-40 { background-position: -2312px 0; } 
.icon32.icon-00-39 { background-position: -2346px 0; } 
.icon32.icon-00-38 { background-position: -2380px 0; } 
.icon32.icon-00-37 { background-position: -2414px 0; } 
.icon32.icon-00-36 { background-position: -2448px 0; } 
.icon32.icon-00-35 { background-position: -2482px 0; } 
.icon32.icon-00-34 { background-position: -2516px 0; } 
.icon32.icon-00-33 { background-position: -2550px 0; } 
.icon32.icon-00-32 { background-position: -2584px 0; } 
.icon32.icon-00-31 { background-position: -2618px 0; } 
.icon32.icon-00-30 { background-position: -2652px 0; } 
.icon32.icon-00-29 { background-position: -2686px 0; } 
.icon32.icon-00-28 { background-position: -2720px 0; } 
.icon32.icon-00-27 { background-position: -2754px 0; } 
.icon32.icon-00-26 { background-position: -2788px 0; } 
.icon32.icon-00-25 { background-position: -2822px 0; } 
.icon32.icon-00-24 { background-position: -2856px 0; } 
.icon32.icon-00-23 { background-position: -2890px 0; } 
.icon32.icon-00-22 { background-position: -2924px 0; } 
.icon32.icon-00-21 { background-position: -2958px 0; } 
.icon32.icon-00-20 { background-position: -2992px 0; } 
.icon32.icon-00-19 { background-position: -3026px 0; } 
.icon32.icon-00-18 { background-position: -3060px 0; } 
.icon32.icon-00-17 { background-position: -3094px 0; } 
.icon32.icon-00-16 { background-position: -3128px 0; } 
.icon32.icon-00-15 { background-position: -3162px 0; } 
.icon32.icon-00-14 { background-position: -3196px 0; } 
.icon32.icon-00-13 { background-position: -3230px 0; } 
.icon32.icon-00-12 { background-position: -3264px 0; } 
.icon32.icon-00-11 { background-position: -3298px 0; } 
.icon32.icon-00-10 { background-position: -3332px 0; } 
.icon32.icon-00-09 { background-position: -3366px 0; } 
.icon32.icon-00-98 { background-position: -3400px 0; } 
.icon32.icon-00-08 { background-position: -3434px 0; } 
.icon32.icon-00-07 { background-position: -3468px 0; } 
.icon32.icon-00-06 { background-position: -3502px 0; } 
.icon32.icon-00-05 { background-position: -3536px 0; } 
.icon32.icon-00-04 { background-position: -3570px 0; } 
.icon32.icon-00-03 { background-position: -3604px 0; } 
.icon32.icon-00-02 { background-position: -3638px 0; } 
.icon32.icon-00-01 { background-position: -3672px 0; } 
.icon32.icon-02-01-30 { background-position: -3706px 0; } 
.icon32.icon-02-01-29 { background-position: -3740px 0; } 
.icon32.icon-02-01-28 { background-position: -3774px 0; } 
.icon32.icon-02-01-27 { background-position: -3808px 0; } 
.icon32.icon-02-01-26 { background-position: -3842px 0; } 
.icon32.icon-02-01-25 { background-position: -3876px 0; } 
.icon32.icon-02-01-24 { background-position: -3910px 0; } 
.icon32.icon-02-01-23 { background-position: -3944px 0; } 
.icon32.icon-02-01-22 { background-position: -3978px 0; } 
.icon32.icon-02-01-21 { background-position: -4012px 0; } 
.icon32.icon-02-01-20 { background-position: -4046px 0; } 
.icon32.icon-02-01-19 { background-position: -4080px 0; } 
.icon32.icon-02-01-18 { background-position: -4114px 0; } 
.icon32.icon-02-01-17 { background-position: -4148px 0; } 
.icon32.icon-02-01-16 { background-position: -4182px 0; } 
.icon32.icon-02-01-15 { background-position: -4216px 0; } 
.icon32.icon-02-01-14 { background-position: -4250px 0; } 
.icon32.icon-02-01-13 { background-position: -4284px 0; } 
.icon32.icon-02-01-12 { background-position: -4318px 0; } 
.icon32.icon-02-01-11 { background-position: -4352px 0; } 
.icon32.icon-02-01-10 { background-position: -4386px 0; } 


.icon16 { background: url('../../assets/sprites/base_icons_16.png') no-repeat top left; width: 16px; height: 16px;  } 
.icon16.icon-00-46 { background-position: 0 0; } 
.icon16.icon-00-45 { background-position: -26px 0; } 
.icon16.icon-00-44 { background-position: -52px 0; } 
.icon16.icon-00-43 { background-position: -78px 0; } 
.icon16.icon-00-42 { background-position: -104px 0; } 
.icon16.icon-00-41 { background-position: -130px 0; } 
.icon16.icon-00-40 { background-position: -156px 0; } 
.icon16.icon-00-39 { background-position: -182px 0; } 
.icon16.icon-00-38 { background-position: -208px 0; } 
.icon16.icon-00-37 { background-position: -234px 0; } 
.icon16.icon-00-36 { background-position: -260px 0; } 
.icon16.icon-00-35 { background-position: -286px 0; } 
.icon16.icon-00-34 { background-position: -312px 0; } 
.icon16.icon-00-33 { background-position: -338px 0; } 
.icon16.icon-00-32 { background-position: -364px 0; } 
.icon16.icon-00-31 { background-position: -390px 0; } 
.icon16.icon-00-30 { background-position: -416px 0; } 
.icon16.icon-00-29 { background-position: -442px 0; } 
.icon16.icon-00-28 { background-position: -468px 0; } 
.icon16.icon-00-27 { background-position: -494px 0; } 
.icon16.icon-00-26 { background-position: -520px 0; } 
.icon16.icon-00-25 { background-position: -546px 0; } 
.icon16.icon-00-24 { background-position: -572px 0; } 
.icon16.icon-00-23 { background-position: -598px 0; } 
.icon16.icon-00-22 { background-position: -624px 0; } 
.icon16.icon-00-21 { background-position: -650px 0; } 
.icon16.icon-00-20 { background-position: -676px 0; } 
.icon16.icon-00-19 { background-position: -702px 0; } 
.icon16.icon-00-18 { background-position: -728px 0; } 
.icon16.icon-00-17 { background-position: -754px 0; } 
.icon16.icon-00-16 { background-position: -780px 0; } 
.icon16.icon-00-15 { background-position: -806px 0; } 
.icon16.icon-00-14 { background-position: -832px 0; } 
.icon16.icon-00-13 { background-position: -858px 0; } 
.icon16.icon-00-12 { background-position: -884px 0; } 
.icon16.icon-00-11 { background-position: -910px 0; } 
.icon16.icon-00-10 { background-position: -936px 0; } 
.icon16.icon-00-09 { background-position: -962px 0; } 
.icon16.icon-00-08 { background-position: -988px 0; } 
.icon16.icon-00-07 { background-position: -1014px 0; } 
.icon16.icon-00-06 { background-position: -1040px 0; } 
.icon16.icon-00-05 { background-position: -1066px 0; } 
.icon16.icon-00-04 { background-position: -1092px 0; } 
.icon16.icon-00-03 { background-position: -1118px 0; } 
.icon16.icon-00-02 { background-position: -1144px 0; } 
.icon16.icon-00-01 { background-position: -1170px 0; } 
.icon16.icon-02-01-30 { background-position: -1196px 0; } 
.icon16.icon-02-01-29 { background-position: -1222px 0; } 
.icon16.icon-02-01-28 { background-position: -1248px 0; } 
.icon16.icon-02-01-27 { background-position: -1274px 0; } 
.icon16.icon-02-01-26 { background-position: -1300px 0; } 
.icon16.icon-02-01-25 { background-position: -1326px 0; } 
.icon16.icon-02-01-24 { background-position: -1352px 0; } 
.icon16.icon-02-01-23 { background-position: -1378px 0; } 
.icon16.icon-02-01-22 { background-position: -1404px 0; } 
.icon16.icon-02-01-21 { background-position: -1430px 0; } 
.icon16.icon-02-01-20 { background-position: -1456px 0; } 
.icon16.icon-02-01-19 { background-position: -1482px 0; } 
.icon16.icon-02-01-18 { background-position: -1508px 0; } 
.icon16.icon-02-01-17 { background-position: -1534px 0; } 
.icon16.icon-02-01-16 { background-position: -1560px 0; } 
.icon16.icon-02-01-15 { background-position: -1586px 0; } 
.icon16.icon-02-01-14 { background-position: -1612px 0; } 
.icon16.icon-02-01-13 { background-position: -1638px 0; } 
.icon16.icon-02-01-12 { background-position: -1664px 0; } 
.icon16.icon-02-01-11 { background-position: -1690px 0; } 
.icon16.icon-02-01-10 { background-position: -1716px 0; } 
.icon16.icon-02-01-09 { background-position: -1742px 0; } 
.icon16.icon-02-01-08 { background-position: -1768px 0; } 
.icon16.icon-02-01-07 { background-position: -1794px 0; } 
.icon16.icon-02-01-06 { background-position: -1820px 0; } 
.icon16.icon-02-01-05 { background-position: -1846px 0; } 
.icon16.icon-02-01-04 { background-position: -1872px 0; } 
.icon16.icon-02-01-03 { background-position: -1898px 0; } 
.icon16.icon-02-01-02 { background-position: -1924px 0; } 
.icon16.icon-02-01-01 { background-position: -1950px 0; } 
.icon16.icon-00-100 { background-position: -1976px 0; } 
.icon16.icon-00-99 { background-position: -2002px 0; } 
.icon16.icon-00-98 { background-position: -2028px 0; } 
.icon16.icon-00-96 { background-position: -2054px 0; } 
.icon16.icon-00-95 { background-position: -2080px 0; } 

.icon8 { background: url('../../assets/sprites/base_icons_8.png') no-repeat top left; width: 8px; height: 8px;  } 
.icon8.icon-00-40 { background-position: 0 0; } 
.icon8.icon-00-39 { background-position: -10px 0; } 
.icon8.icon-00-38 { background-position: -20px 0; } 
.icon8.icon-00-37 { background-position: -30px 0; } 
.icon8.icon-00-36 { background-position: -40px 0; } 
.icon8.icon-00-35 { background-position: -50px 0; } 
.icon8.icon-00-34 { background-position: -60px 0; } 
.icon8.icon-00-33 { background-position: -70px 0; } 
.icon8.icon-00-32 { background-position: -80px 0; } 
.icon8.icon-00-31 { background-position: -90px 0; } 
.icon8.icon-00-30 { background-position: -100px 0; } 
.icon8.icon-00-29 { background-position: -110px 0; } 
.icon8.icon-00-28 { background-position: -120px 0; } 
.icon8.icon-00-27 { background-position: -130px 0; } 
.icon8.icon-00-26 { background-position: -140px 0; } 
.icon8.icon-00-25 { background-position: -150px 0; } 
.icon8.icon-00-24 { background-position: -160px 0; } 
.icon8.icon-00-23 { background-position: -170px 0; } 
.icon8.icon-00-22 { background-position: -180px 0; } 
.icon8.icon-00-21 { background-position: -190px 0; } 
.icon8.icon-00-20 { background-position: -200px 0; } 
.icon8.icon-00-19 { background-position: -210px 0; } 
.icon8.icon-00-18 { background-position: -220px 0; } 
.icon8.icon-00-17 { background-position: -230px 0; } 
.icon8.icon-00-16 { background-position: -240px 0; } 
.icon8.icon-00-15 { background-position: -250px 0; } 
.icon8.icon-00-14 { background-position: -260px 0; } 
.icon8.icon-00-13 { background-position: -270px 0; } 
.icon8.icon-00-12 { background-position: -280px 0; } 
.icon8.icon-00-11 { background-position: -290px 0; } 
.icon8.icon-00-10 { background-position: -300px 0; } 
.icon8.icon-00-09 { background-position: -310px 0; } 
.icon8.icon-00-08 { background-position: -320px 0; } 
.icon8.icon-00-07 { background-position: -330px 0; } 
.icon8.icon-00-06 { background-position: -340px 0; } 
.icon8.icon-00-05 { background-position: -350px 0; } 
.icon8.icon-00-04 { background-position: -360px 0; } 
.icon8.icon-00-03 { background-position: -370px 0; } 
.icon8.icon-00-02 { background-position: -380px 0; } 
.icon8.icon-00-01 { background-position: -390px 0; } 
.icon8.icon-02-01-30 { background-position: -400px 0; } 
.icon8.icon-02-01-29 { background-position: -410px 0; } 
.icon8.icon-02-01-28 { background-position: -420px 0; } 
.icon8.icon-02-01-27 { background-position: -430px 0; } 
.icon8.icon-02-01-26 { background-position: -440px 0; } 
.icon8.icon-02-01-25 { background-position: -450px 0; } 
.icon8.icon-02-01-24 { background-position: -460px 0; } 
.icon8.icon-02-01-23 { background-position: -470px 0; } 
.icon8.icon-02-01-22 { background-position: -480px 0; } 
.icon8.icon-02-01-21 { background-position: -490px 0; } 
.icon8.icon-02-01-20 { background-position: -500px 0; } 
.icon8.icon-02-01-19 { background-position: -510px 0; } 
.icon8.icon-02-01-18 { background-position: -520px 0; } 
.icon8.icon-02-01-17 { background-position: -530px 0; } 
.icon8.icon-02-01-16 { background-position: -540px 0; } 
.icon8.icon-02-01-15 { background-position: -550px 0; } 
.icon8.icon-02-01-14 { background-position: -560px 0; } 
.icon8.icon-02-01-13 { background-position: -570px 0; } 
.icon8.icon-02-01-12 { background-position: -580px 0; } 
.icon8.icon-02-01-11 { background-position: -590px 0; } 
.icon8.icon-02-01-10 { background-position: -600px 0; } 
.icon8.icon-02-01-09 { background-position: -610px 0; } 
.icon8.icon-02-01-08 { background-position: -620px 0; } 
.icon8.icon-02-01-07 { background-position: -630px 0; } 
.icon8.icon-02-01-06 { background-position: -640px 0; } 
.icon8.icon-02-01-05 { background-position: -650px 0; } 
.icon8.icon-02-01-04 { background-position: -660px 0; } 
.icon8.icon-02-01-03 { background-position: -670px 0; } 
.icon8.icon-02-01-02 { background-position: -680px 0; } 
.icon8.icon-02-01-01 { background-position: -690px 0; } 
.icon8.icon-00-100 { background-position: -700px 0; } 
.icon8.icon-00-99 { background-position: -710px 0; } 
.icon8.icon-00-98 { background-position: -720px 0; } 
.icon8.icon-00-97 { background-position: -730px 0; } 
.icon8.icon-00-95 { background-position: -740px 0; } 
.icon8.icon-00-94 { background-position: -750px 0; } 
.icon8.icon-00-93 { background-position: -760px 0; } 
.icon8.icon-00-92 { background-position: -770px 0; } 
.icon8.icon-00-91 { background-position: -780px 0; } 
.icon8.icon-00-90 { background-position: -790px 0; } 
.icon8.icon-00-89 { background-position: -800px 0; } 
.icon8.icon-00-88 { background-position: -810px 0; } 
.icon8.icon-00-87 { background-position: -820px 0; } 
.icon8.icon-00-86 { background-position: -830px 0; } 
.icon8.icon-00-85 { background-position: -840px 0; } 
.icon8.icon-00-84 { background-position: -850px 0; } 
.icon8.icon-00-83 { background-position: -860px 0; } 
.icon8.icon-00-82 { background-position: -870px 0; } 
.icon8.icon-00-81 { background-position: -880px 0; } 
.icon8.icon-00-80 { background-position: -890px 0; } 
.icon8.icon-00-79 { background-position: -900px 0; } 
.icon8.icon-00-78 { background-position: -910px 0; } 
.icon8.icon-00-77 { background-position: -920px 0; } 
.icon8.icon-00-76 { background-position: -930px 0; } 
.icon8.icon-00-75 { background-position: -940px 0; } 
.icon8.icon-00-74 { background-position: -950px 0; } 
.icon8.icon-00-73 { background-position: -960px 0; } 
.icon8.icon-00-72 { background-position: -970px 0; } 
.icon8.icon-00-71 { background-position: -980px 0; } 
.icon8.icon-00-70 { background-position: -990px 0; } 
.icon8.icon-00-69 { background-position: -1000px 0; } 
.icon8.icon-00-68 { background-position: -1010px 0; } 
.icon8.icon-00-67 { background-position: -1020px 0; } 
.icon8.icon-00-66 { background-position: -1030px 0; } 
.icon8.icon-00-65 { background-position: -1040px 0; } 
.icon8.icon-00-64 { background-position: -1050px 0; } 
.icon8.icon-00-63 { background-position: -1060px 0; } 
.icon8.icon-00-62 { background-position: -1070px 0; } 
.icon8.icon-00-61 { background-position: -1080px 0; } 
.icon8.icon-00-60 { background-position: -1090px 0; } 
.icon8.icon-00-59 { background-position: -1100px 0; } 
.icon8.icon-00-58 { background-position: -1110px 0; } 
.icon8.icon-00-57 { background-position: -1120px 0; } 
.icon8.icon-00-56 { background-position: -1130px 0; } 
.icon8.icon-00-55 { background-position: -1140px 0; } 
.icon8.icon-00-54 { background-position: -1150px 0; } 
.icon8.icon-00-53 { background-position: -1160px 0; } 
.icon8.icon-00-52 { background-position: -1170px 0; } 
.icon8.icon-00-51 { background-position: -1180px 0; } 
.icon8.icon-00-50 { background-position: -1190px 0; } 
.icon8.icon-00-49 { background-position: -1200px 0; } 
.icon8.icon-00-48 { background-position: -1210px 0; } 
.icon8.icon-00-47 { background-position: -1220px 0; } 
.icon8.icon-00-46 { background-position: -1230px 0; } 
.icon8.icon-00-45 { background-position: -1240px 0; } 
.icon8.icon-00-44 { background-position: -1250px 0; } 
.icon8.icon-00-43 { background-position: -1260px 0; } 
.icon8.icon-00-42 { background-position: -1270px 0; } 
.icon8.icon-00-41 { background-position: 0px 0; } 
.icon8.icon-00-96 { background-position: -1290px 0; } 

.icon-search-btn {
	width: 15px;
	height: 15px;
}

.icon-notification {
	width: 32px;
	height: 32px;
}

.icon-user-menu {
	width: 15px;
	height: 15px;
}
.icon-slide {
	width: 21px;
	height: 60px;
}