$sprite_title: url('../../../../assets/sprites/titulos.png') no-repeat;
.icon-title-circle {
  width: 64px;
  height: 64px;
  background: $sprite_title;
  background-position: -2px -2px;
  background-color: transparent;
}
.icon-title-light {
  width: 64px;
  height: 64px;
  background: $sprite_title;
  background-position: -2px -68px;
  background-color: transparent;
}
.icon-title-circle.group {
  background-position: -2px -2px;
}
.icon-title-circle.cdp {
  background-position: -68px -2px;
}
.icon-title-circle.email {
  background-position: -134px -2px;
}
.icon-title-circle.curso {
  background-position: -200px -2px;
}
.icon-title-circle.bell {
  background-position: -266px -2px;
}
.icon-title-circle.relato {
  background-position: -332px -2px;
}
.icon-title-circle.evento {
  background-position: -398px -2px;
}
.icon-title-circle.blog {
  background-position: -464px -2px;
}
.icon-title-circle.ajuda {
  background-position: -530px -2px;
}
.icon-title-light {
  width: 64px;
  height: 64px;
  background: $sprite_title;
  background-position: -2px -68px;
  background-color: transparent;
}
.icon-title-light.group {
  background-position: -2px -68px;
}
.icon-title-light.cdp {
  background-position: -68px -68px;
}
.icon-title-light.email {
  background-position: -134px -68px;
}
.icon-title-light.curso {
  background-position: -200px -68px;
}
.icon-title-light.bell {
  background-position: -266px -68px;
}
.icon-title-light.relato {
  background-position: -332px -68px;
}
.icon-title-light.evento {
  background-position: -398px -68px;
}
.icon-title-light.blog {
  background-position: -464px -68px;
}
.icon-title-light.ajuda {
  background-position: -530px -68px;
}
.icon-title-dark {
  width: 64px;
  height: 64px;
  background: $sprite_title;
  background-position: -2px -136px;
  background-color: transparent;
}
.icon-title-dark.group {
  background-position: -2px -136px;
}
.icon-title-dark.cdp {
  background-position: -68px -136px;
}
.icon-title-dark.email {
  background-position: -134px -136px;
}
.icon-title-dark.curso {
  background-position: -200px -136px;
}
.icon-title-dark.bell {
  background-position: -266px -136px;
}
.icon-title-dark.relato {
  background-position: -332px -136px;
}
.icon-title-dark.evento {
  background-position: -398px -136px;
}
.icon-title-dark.blog {
  background-position: -464px -136px;
}
.icon-title-dark.ajuda {
  background-position: -530px -136px;
}