#main-header {
	background: #fafafa;
	box-shadow: none;
	border: none;
	border-bottom: 7px solid #efefef;
	border-radius: 0;
	margin: 0;
	@media (min-width: 768px) {
		height: 87px;
	}
	.container {
		position: relative;
		@media (max-width: 767px) {
			padding: 0 15px 5px 15px;
		}
		>.navbar-header {
			margin: 0;
		}
		&:before {
			content: " ";
			width: 200px;
			height: 7px;
			background: linear-gradient(to right,#3492dc 0,#3492dc 25%,#43d800 25%,#43d800 50%,#d15f00 50%,#d15f00 75%,#cd0003 75%,#cd0003 100%);
			position: absolute;
			bottom: -7px;
			right: 0;
		}		
	}
	.navbar-brand {
		height: auto;
		padding: 0;
		margin: 5px 0 0 0;
		&>img {
			display: inline-block;
		}
		@media (max-width: 992px) {
			.logo {
				width: 54px;
				height: auto;
			}
			.logo-text {
				display: none;
			}
		}
	}
	.primary-nav {
		font-size: 12px;
		.icon-menu {
			@media (min-width: 768px) {
				display: block;
				margin: 0 auto 5px auto;
			}
			@media (max-width: 767px) {
				margin-right: 10px;
			}
		}
		li {

			&.dropdown.open {
				a {
					box-shadow: none;
					background: transparent;
				}
			}
			a {
				color: $gray-light;
				padding: 10px 0 0 0;
				padding-bottom: 0;
				@media (min-width: 768px) { 
					min-height: 80px;
					min-width: 60px;
				}
			}
			.dropdown-menu {
			  @media (min-width: 768px) {
			  	background: #f5f5f5;
			  	border: 1px solid #ccc;
			  }
			}
			&.item-comunidades {
				border-color: $brand-primary;
				&:hover {
					a {
						color: $brand-primary;
						@media (min-width: 768px) {
							box-shadow: 0 7px 0 $brand-primary;
							transition: all .25s ease-in-out;
						}
					}
				}
			}
			&.item-relatos {
					border-color: $brand-story;
					&:hover {
						a {
							color: $brand-story;
							@media (min-width: 768px) {
								box-shadow: 0 7px 0 $brand-story;
								transition: all .25s ease-in-out;
							}
						}
				}
			}
			&.item-cdpplus {
				position: relative;
				border-color: $brand-success;
				&:hover {
					> a {
						color: $brand-success;
					}
				}
				@media (min-width: 768px) {
					&:hover {
						> a {
							box-shadow: 0 7px 0 $brand-success;
							transition: all .25s ease-in-out;
						}
					}
				}
				.dropdown-menu {
					overflow: hidden;
					li {
						margin: 0;
						&.item-cursos:hover {
							a {
								color: $brand-success;
							}
						}
						&.item-blog:hover {
							a {
								color: $brand-warning;
							}
						}
						&.item-ajuda:hover {
							a {
								color: $brand-danger;
							}
						}
					}
					li {
						float: left;
						width: 33.333333%;
						border-right: 1px solid $gray-lighter;
						padding: 0 15px;
						text-align: center;
						border-left: none;
						@media (max-width: 767px) {
							font-size: 13px;
						}
						&:first-child {
							padding-left: 0;
						}
						&:last-child {
							border: none;
							padding-right: 0;
						}
						a {
							padding: 20px 0;
							.icon-menu {
								display: block;
								margin: 0 auto 5px auto;
							}
							&:hover {
								background: $dropdown-link-hover-bg;
							}
						}

					}
					@media (min-width: 768px) {
						width: 360px;
						background: $dropdown-bg;
						border: 1px solid rgba(0,0,0,.15);
						border-radius: $border-radius-base;
						padding: 13px 9px;
						left: 50%;
						margin-left: -180px;
						margin-top: 10px;
					}
					@media (max-width: 767px) {
						padding: 20px 0 0 0;
					}
				}
			}
			@media (min-width: 768px) {
				text-align: center;
				margin: 0 10px;
			}
			@media (max-width: 767px) {
				font-size: 20px;
				border-left: 5px solid $gray-lighter;
				padding: 10px;
			}
		}
	}
}

  .arrow_box-menu-services:after, .arrow_box-menu-services:before {
    bottom: 100%;
    left: 50%;
    margin-left: -13px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    
  }
  .arrow_box-menu-services:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f5f5f5;
    border-width: 12px;
    margin-left: -12px; }
  .arrow_box-menu-services:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 13px;
    margin-left: -13px; }