//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }
  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($alert-padding + 13);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -13px;
    color: inherit;
    opacity: 1;
    font-weight: normal;
    font-size: 14px;
    width: 16px;
    height: 16px;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  background: $alert-success-bg;
  border-color: $alert-success-border;
  color: $alert-success-text;
  .close {
    border-radius: 50%;
    border: 1px solid #11a78c;
    color: #11a78c;
  }
}
.alert-info {
  background: $alert-info-bg;
  border-color: $alert-info-border;
  color: $alert-info-text;
  .close {
    border-radius: 50%;
    border: 1px solid #3187c0;
    color: #3187c0;
  }
}
.alert-warning {
  background: $alert-warning-bg;
  border-color: $alert-warning-border;
  color: $alert-warning-text;
  .close {
    border-radius: 50%;
    border: 1px solid #f9b03d;
    color: #f9b03d;
  }
}
.alert-danger {
  background: $alert-danger-bg;
  border-color: $alert-danger-border;
  color: $alert-danger-text;
  .close {
    border-radius: 50%;
    border: 1px solid #c84531;
    color: #c84531;
  }
}
.alert-light {
  background-color: #ffffff;
  border-color: #cdced0;
  color: #444444;
  a {
    color: #444444;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: #444444;
      font-weight: bold;
      text-decoration: none;
    }
  }
  h4 {
    border-top-color: #693c96;
  }
  h1,h2,h3 {
    color: #727274;
  }
  .close {
    border-radius: 50%;
    border: 1px solid #d2d2d4;
    color: #d2d2d4;
  }
}

.alert.with-image {
  .image {
    float: left;
  }
  .text {
    margin-left: 80px;
    >h1, >h2, >h3 {
      margin-top: 0;
    }
  }
}