.progress {
  overflow: hidden;
  height: 10px;
  margin-bottom: 21px;
  background-color: #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #227fbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.8s ease;
  -o-transition: width 0.8s ease;
  transition: width 0.8s ease;
  border-radius:10px;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 10px 10px;
          background-size: 10px 10px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  -o-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}
.progress-bar-success {
  background-color: #469b84;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(77, 227, 78, 0.15) 25%, transparent 25%, transparent 50%, rgba(77, 227, 78, 0.15) 50%, rgba(77, 227, 78, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(77, 227, 78, 0.15) 25%, transparent 25%, transparent 50%, rgba(77, 227, 78, 0.15) 50%, rgba(77, 227, 78, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(77, 227, 78, 0.15) 25%, transparent 25%, transparent 50%, rgba(77, 227, 78, 0.15) 50%, rgba(77, 227, 78, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #8156ac;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(156, 112, 197, 0.15) 25%, transparent 25%, transparent 50%, rgba(156, 112, 197, 0.15) 50%, rgba(156, 112, 197, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(156, 112, 197, 0.15) 25%, transparent 25%, transparent 50%, rgba(156, 112, 197, 0.15) 50%, rgba(156, 112, 197,0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(156, 112, 197, 0.15) 25%, transparent 25%, transparent 50%, rgba(156, 112, 197, 0.15) 50%, rgba(156, 112, 197, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f9ad31;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 252, 30, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 252, 30, 0.15) 50%, rgba(255, 252, 30, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 252, 30, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 252, 30, 0.15) 50%, rgba(255, 252, 30, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 252, 30, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 252, 30, 0.15) 50%, rgba(255, 252, 30, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #c62760;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(252, 59, 42, 0.15) 25%, transparent 25%, transparent 50%, rgba(252, 59, 42, 0.15) 50%, rgba(252, 59, 42, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(252, 59, 42, 0.15) 25%, transparent 25%, transparent 50%, rgba(252, 59, 42, 0.15) 50%, rgba(252, 59, 42, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(252, 59, 42, 0.15) 25%, transparent 25%, transparent 50%, rgba(252, 59, 42, 0.15) 50%, rgba(252, 59, 42, 0.15) 75%, transparent 75%, transparent);
}
