.home-carousel {
  margin-bottom: 50px;
  z-index: 9;
  height: auto;
  clear: both;
  @media (min-width: 1200px) {
    position: relative;
    line-height: 308px;
  }
  .carousel-indicators {
    bottom: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    @media screen and (min-width: 768px) {
      bottom: 20px;
    }
  }
  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 767px) {
      height: 310px;
      padding: 100px 0;
    }
    @media (max-width: 991px) and (min-width: 768px) {
      height: 500px;
      padding: 210px 0;
    }
    @media (max-width: 1199px) and (min-width: 992px) {
      height: 500px;
      padding: 210px 0;
    }
    @media (min-width: 1200px) {
      height: 532px;
      padding: 206px 0;
    }
  }
  .carousel-control.left, 
  .carousel-control.right {
    padding-top: 120px;
  }

}

.info-blocks {
  .info-blocks-blog {
    .main-title {
      margin-bottom: 44px;
      .title_text {
        font-size: 26px;
         a {
          color: #fcc12a;
        }
      }
    }
    img {
      max-width: 100%;
    }
    h4 {
      font-size: 20px;
      margin: 11px 0;
    }
    .blog-post-content {
      color: #626262;
      font-size: 15px;
    }
  }
  .info-blocks-helpcenter {
    .main-title {
      margin-bottom: 44px;
      .title_text {
        font-size: 26px;
         a {
          color: #CE0A0B;
        }
      }
    }
    img {
      max-width: 100%;
    }
    .content {
      ol {
        margin: 0;
        padding: 0;
        li {
          display: block;
          list-style: none;
          font-size: 18px;
          margin: 20px 0;
        }
      }
      .btn-default {
        color: #fff;
        background: #CE0A0B;
        box-shadow: none;
        border-color: #CE0A0B;
        font-size: 15px;
        text-shadow: none;
      }
    }
  }
}