body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  height: 100%;
}

a {
  color: #227fbc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #62bbf5;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.text-primary,
.text-primary:hover {
  color: #2780e3;
}
.text-success,
.text-success:hover {
  color: #00a185;
}
.text-danger,
.text-danger:hover {
  color: #c62760;
}
.text-warning,
.text-warning:hover {
  color: #f9ae31;
}
.text-info,
.text-info:hover {
  color: #8356ab;
}
table a:not(.btn),
.table a:not(.btn) {
  text-decoration: underline;
}
table .dropdown-menu a,
.table .dropdown-menu a {
  text-decoration: none;
}
table .success,
.table .success,
table .warning,
.table .warning,
table .danger,
.table .danger,
table .info,
.table .info {
  color: #fff;
}
table .success a,
.table .success a,
table .warning a,
.table .warning a,
table .danger a,
.table .danger a,
table .info a,
.table .info a {
  color: #fff;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label,
.has-warning .form-control-feedback {
  color: #f9ad31;
}
.has-warning .form-control,
.has-warning .form-control:focus,
.has-warning .input-group-addon {
  border: 1px solid #f9ad31;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback {
  color: #c62760;
}
.has-error .form-control,
.has-error .form-control:focus,
.has-error .input-group-addon {
  border: 1px solid #c62760;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback {
  color: #00a185;
}
.has-success .form-control,
.has-success .form-control:focus,
.has-success .input-group-addon {
  border: 1px solid #00a185;
}