@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700|Roboto:400,400italic,500,500italic,700,700italic);
@import url(../../../bower_components/bootstrap/dist/css/bootstrap.min.css);
@import url(../../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css);
.gray-darker {
  color: #222222; }

.gray-dark {
  color: #333333; }

.gray {
  color: #555555; }

.gray-light {
  color: #777777; }

.gray-lighter {
  color: #eeeeee; }

.brand-white {
  color: #fff; }

.brand-primary {
  color: #2d84b8; }

.brand-primary-light {
  color: #308bc2; }

.brand-success {
  color: #00a182; }

.brand-success-light {
  color: #00ae8c; }

.brand-info {
  color: #5bc0de; }

.brand-info-light {
  color: #66c4e0; }

.brand-warning {
  color: #f9ae31; }

.brand-warning-light {
  color: #f9b33d; }

.brand-danger {
  color: #cd0102; }

.brand-danger-light {
  color: #da0102; }

.brand-cool {
  color: #8356AB; }

.brand-cool-light {
  color: #895faf; }

#main-header {
  background: #fafafa;
  box-shadow: none;
  border: none;
  border-bottom: 7px solid #efefef;
  border-radius: 0;
  margin: 0; }
  @media (min-width: 768px) {
    #main-header {
      height: 87px; } }
  #main-header .container {
    position: relative; }
    @media (max-width: 767px) {
      #main-header .container {
        padding: 0 15px 5px 15px; } }
    #main-header .container > .navbar-header {
      margin: 0; }
    #main-header .container:before {
      content: " ";
      width: 200px;
      height: 7px;
      background: linear-gradient(to right, #3492dc 0, #3492dc 25%, #43d800 25%, #43d800 50%, #d15f00 50%, #d15f00 75%, #cd0003 75%, #cd0003 100%);
      position: absolute;
      bottom: -7px;
      right: 0; }
  #main-header .navbar-brand {
    height: auto;
    padding: 0;
    margin: 5px 0 0 0; }
    #main-header .navbar-brand > img {
      display: inline-block; }
    @media (max-width: 992px) {
      #main-header .navbar-brand .logo {
        width: 54px;
        height: auto; }

      #main-header .navbar-brand .logo-text {
        display: none; }
 }
  #main-header .primary-nav {
    font-size: 12px; }
    @media (min-width: 768px) {
      #main-header .primary-nav .icon-menu {
        display: block;
        margin: 0 auto 5px auto; } }
    @media (max-width: 767px) {
      #main-header .primary-nav .icon-menu {
        margin-right: 10px; } }
    #main-header .primary-nav li.dropdown.open a {
      box-shadow: none;
      background: transparent; }
    #main-header .primary-nav li a {
      color: #777777;
      padding: 10px 0 0 0;
      padding-bottom: 0; }
      @media (min-width: 768px) {
        #main-header .primary-nav li a {
          min-height: 80px;
          min-width: 60px; } }
    @media (min-width: 768px) {
      #main-header .primary-nav li .dropdown-menu {
        background: #f5f5f5;
        border: 1px solid #ccc; } }
    #main-header .primary-nav li.item-comunidades {
      border-color: #2d84b8; }
      #main-header .primary-nav li.item-comunidades:hover a {
        color: #2d84b8; }
        @media (min-width: 768px) {
          #main-header .primary-nav li.item-comunidades:hover a {
            box-shadow: 0 7px 0 #2d84b8;
            transition: all 0.25s ease-in-out; } }
    #main-header .primary-nav li.item-relatos {
      border-color: #55a4f3; }
      #main-header .primary-nav li.item-relatos:hover a {
        color: #55a4f3; }
        @media (min-width: 768px) {
          #main-header .primary-nav li.item-relatos:hover a {
            box-shadow: 0 7px 0 #55a4f3;
            transition: all 0.25s ease-in-out; } }
    #main-header .primary-nav li.item-cdpplus {
      position: relative;
      border-color: #00a182; }
      #main-header .primary-nav li.item-cdpplus:hover > a {
        color: #00a182; }
      @media (min-width: 768px) {
        #main-header .primary-nav li.item-cdpplus:hover > a {
          box-shadow: 0 7px 0 #00a182;
          transition: all 0.25s ease-in-out; }
 }
      #main-header .primary-nav li.item-cdpplus .dropdown-menu {
        overflow: hidden; }
        #main-header .primary-nav li.item-cdpplus .dropdown-menu li {
          margin: 0; }
          #main-header .primary-nav li.item-cdpplus .dropdown-menu li.item-cursos:hover a {
            color: #00a182; }
          #main-header .primary-nav li.item-cdpplus .dropdown-menu li.item-blog:hover a {
            color: #f9ae31; }
          #main-header .primary-nav li.item-cdpplus .dropdown-menu li.item-ajuda:hover a {
            color: #cd0102; }
        #main-header .primary-nav li.item-cdpplus .dropdown-menu li {
          float: left;
          width: 33.333333%;
          border-right: 1px solid #eeeeee;
          padding: 0 15px;
          text-align: center;
          border-left: none; }
          @media (max-width: 767px) {
            #main-header .primary-nav li.item-cdpplus .dropdown-menu li {
              font-size: 13px; } }
          #main-header .primary-nav li.item-cdpplus .dropdown-menu li:first-child {
            padding-left: 0; }
          #main-header .primary-nav li.item-cdpplus .dropdown-menu li:last-child {
            border: none;
            padding-right: 0; }
          #main-header .primary-nav li.item-cdpplus .dropdown-menu li a {
            padding: 20px 0; }
            #main-header .primary-nav li.item-cdpplus .dropdown-menu li a .icon-menu {
              display: block;
              margin: 0 auto 5px auto; }
            #main-header .primary-nav li.item-cdpplus .dropdown-menu li a:hover {
              background: #f5f5f5; }
        @media (min-width: 768px) {
          #main-header .primary-nav li.item-cdpplus .dropdown-menu {
            width: 360px;
            background: #f8f8f8;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            padding: 13px 9px;
            left: 50%;
            margin-left: -180px;
            margin-top: 10px; } }
        @media (max-width: 767px) {
          #main-header .primary-nav li.item-cdpplus .dropdown-menu {
            padding: 20px 0 0 0; } }
    @media (min-width: 768px) {
      #main-header .primary-nav li {
        text-align: center;
        margin: 0 10px; } }
    @media (max-width: 767px) {
      #main-header .primary-nav li {
        font-size: 20px;
        border-left: 5px solid #eeeeee;
        padding: 10px; } }

.arrow_box-menu-services:after, .arrow_box-menu-services:before {
  bottom: 100%;
  left: 50%;
  margin-left: -13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box-menu-services:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f5f5f5;
  border-width: 12px;
  margin-left: -12px; }

.arrow_box-menu-services:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #ccc;
  border-width: 13px;
  margin-left: -13px; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fafafa;
  height: 100%; }

.icon {
  display: inline-block;
  background: #ccc;
  vertical-align: middle; }

.icon-menu {
  width: 32px;
  height: 32px; }
