body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  height: 100%;
}
.container {
  background-color: $body-bg;
}
a {
  color: #227fbc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #62bbf5;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.text-primary,
.text-primary:hover {
  color: #2780e3;
}
.text-success,
.text-success:hover {
  color: #00a185;
}
.text-danger,
.text-danger:hover {
  color: #c62760;
}
.text-warning,
.text-warning:hover {
  color: #f9ae31;
}
.text-info,
.text-info:hover {
  color: #8356ab;
}
table a:not(.btn),
.table a:not(.btn) {
  text-decoration: underline;
}
table .dropdown-menu a,
.table .dropdown-menu a {
  text-decoration: none;
}
table .success,
.table .success,
table .warning,
.table .warning,
table .danger,
.table .danger,
table .info,
.table .info {
  color: #fff;
}
table .success a,
.table .success a,
table .warning a,
.table .warning a,
table .danger a,
.table .danger a,
table .info a,
.table .info a {
  color: #fff;
}

.col-center-block {
  text-align: center!important;
}